@model Production_Planner.Models.HRP_HOLIDAY

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HRP_HOLIDAY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOLTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOLTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WDAYBEFOREHDAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WDAYBEFOREHDAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WDAYAFTERHDAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WDAYAFTERHDAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WORKDAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WORKDAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOLREMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOLREMARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSERTBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSERTBY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INSERTDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INSERTDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATEBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATEBY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATEDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATEDT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
