@model Production_Planner.Models.CMN_COUNTRY

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2 style=" text-align: center; text-decoration: underline;">Country Information</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
  
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CONCD)

        @*<div class="form-group">
            @Html.LabelFor(model => model.CONNM, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CONNM)
                @Html.ValidationMessageFor(model => model.CONNM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COUNTRY_CODE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COUNTRY_CODE)
                @Html.ValidationMessageFor(model => model.COUNTRY_CODE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.INSERTBY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.INSERTBY)
                @Html.ValidationMessageFor(model => model.INSERTBY)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.INSERTDT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.INSERTDT)
                @Html.ValidationMessageFor(model => model.INSERTDT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UPDATEBY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UPDATEBY)
                @Html.ValidationMessageFor(model => model.UPDATEBY)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UPDATEDT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UPDATEDT)
                @Html.ValidationMessageFor(model => model.UPDATEDT)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
        <style type="text/css">
            table, td {
                padding: 5px;
                margin-left: 20px;
                margin-top: 0px;
            }
        </style>
        <table>
            
            <tr>
                <td>Country Name</td>
                <td>
                    @Html.TextBoxFor(model => model.CONNM, new { @style = "width:240px;" })
                    @Html.ValidationMessageFor(model => model.CONNM)
                </td>
            </tr>

            <tr>
                <td>Inserted By</td>
                <td>
                    @Html.TextBoxFor(model => model.INSERTBY, new { @style = "width:240px;" })
                    @Html.ValidationMessageFor(model => model.INSERTBY)
                </td>
            </tr>
            <tr>
                <td>Inserted Date</td>
                <td>
                    @Html.TextBoxFor(model => model.INSERTDT, new { @style = "width:240px;" })
                    @Html.ValidationMessageFor(model => model.INSERTDT)
                </td>
            <tr>
                <td>Updated By</td>
                <td>
                    @Html.TextBoxFor(model => model.UPDATEBY, new { @style = "width:240px;" })
                    @Html.ValidationMessageFor(model => model.UPDATEBY)
                </td>
            </tr>
            <tr>
                <td>Updated Date</td>
                <td>
                    @Html.TextBoxFor(model => model.UPDATEDT, new { @style = "width:240px;" })
                    @Html.ValidationMessageFor(model => model.UPDATEDT)
                </td>
            </tr>

        </table>

        <div class="form-group" style=" margin-left:-25px;padding-top:10px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-xs btn-success" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
