@*@model IEnumerable<Production_Planner.Models.CMN_COUNTRY>*@

@model PagedList.IPagedList<Production_Planner.Models.CMN_COUNTRY>
@using PagedList.Mvc;
@Html.Raw(TempData["msg"])

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2 style=" text-align: center; text-decoration: underline;">Country Information</h2>

<p>
    <a href="@Url.Action("Create", "Country")" class="btn btn-primary"> Add Country</a>
</p>

<style type="text/css">
    th {
        font-size: 15px;
        /*font-family:'Comic Sans MS' ;*/
    }

    td {
        font-size: 12px;
    }
</style>

<table class="table table-striped table-bordered">
    <tr>
        <th style="text-align :center ;width :75%;">
            Country Name
        </th>
       
        <th colspan="3" style="text-align :center ">Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CONNM)
            </td>
            
            <td style=" text-align :center ">
                @Html.ActionLink("Edit", "Edit", new { id = item.CONCD }) |
                @Html.ActionLink("Details", "Details", new { id = item.CONCD }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CONCD })
            </td>
        </tr>
    }

</table>
@if (Model.PageCount > 1)
{
    <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount  </p>
    @Html.PagedListPager(Model, page => Url.Action("Index", "Country", new { page }))
}
